header{

    color: #020202;
    font-weight: 700;
    /*position: fixed;*/
    /*display:block;*/
/*    left: 0;
    right: 0;
    z-index: 3000;    */
    /*height:80px;*/
    .background-header-top{
        /*background-color:$color-header-top-background;*/

        .header-top{
            /*height:300px;*/            
            background-color:red;
        }
    }

    nav .navbar{
        background-color: gold;
    }
}



